// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  padding: 20px;
  margin: auto;
}

ul li{
  list-style-type: none;
}
.link { 
  text-decoration: none;
}
#task_details { 
  color: #b7b932;
}


